.box {
  height: 100%;
  width: 100%;

  .display {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content {
  }

  .container_small {
    max-width: 1060px;

    margin: 0 auto;
    padding: 0 40px;
  }
}
