.roulette {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-height: 300px;

  .button_open {
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--color-orange__1);
    color: black;
    border-radius: 5px;

    transition: all 200ms;

    padding: 5px 10px;

    .text {
      display: flex;
      justify-content: center;
      align-items: center;

      .key {
        max-height: 15px;

        margin-right: 5px;
      }

      .inCoin {
        max-height: 15px;
      }
    }
  }
}
