.roulette {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	max-width: 100%;
	min-height: 220px;

	.button_open {
		display: flex;
		justify-content: center;
		align-items: center;

		min-width: 150px;
		height: 30px;

		background: var(--color-orange__1);
		color: black;
		border-radius: 5px;

		transition: padding 200ms;

		.text {
			display: flex;
			justify-content: center;
			align-items: center;

			.key {
				max-height: 15px;

				margin-right: 5px;
			}

			.inCoin {
				max-height: 15px;
				margin-left: 2px;
			}
		}
	}
}
