.reviews {
	height: 100%;
	width: 100%;

	.container {
		max-width: 1720px;
		height: 100%;

		margin: 0 auto;
		padding: 0 40px;
	}
}

.panel {
	height: 100%;
	width: 100%;

	display: flex;
	justify-content: center;
	padding: 50px 0;
}

@media (max-width: 725px) {
	.reviews {
		.container {
			padding: 0;
		}
	}
}
