.restriction {
	display: flex;
	align-items: flex-end;
	width: 300px;
	height: 130px;
	margin: 0 20px;
	color: black;
	font-size: 15px;
	font-family: 'Nunito';
}

.restriction_inner_flipped, .restriction__face__back {
	transform: rotateY(180deg);
}

.restriction_owner {
	display: flex;
	align-items: center;
	height: 110px;
	width: 85px;
	border-radius: 15px 0 0 15px;
	margin-bottom: 10px;
	transition: margin 200ms;
	cursor: pointer;
}

.restriction_owner:hover {
	transition: margin 200ms;
	margin-bottom: 20px;
}

.restriction_owner img {
	background-repeat: no-repeat;
	background-position: 50%;
	border-radius: 50%;
	width: 65px;
	height: 65px;
	cursor: pointer;
	margin: 0 10px;
	object-fit: cover;
}

.restriction_inner, .restriction_inner_flipped {
	width: 235px;
	height: 110px;
	transition: transform 1s, margin 200ms;
	transform-style: preserve-3d;
	position: relative;
	cursor: pointer;
	margin-bottom: 10px;
}

.restriction_inner:hover, .restriction_inner_flipped:hover {
	transition: transform 1s, margin 200ms;
	margin-bottom: 20px;
}

.restriction__face__front, .restriction__face__back {
	position: absolute;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: center;
	justify-content: center;
	border-radius: 0 15px 15px 0;
	height: 110px;
	width: 215px;
}

.restriction_description {
	margin: 5px 0;
	text-align: start;
	max-width: 215px;
}
.restriction_type {
	max-width: 215px;
}
.restriction_creation {
	color: #218655;
	max-width: 215px;
}
.restriction_expiration {
	color: #913232;
	max-width: 215px;
}