.profile {
	height: 100%;
	width: 100%;
}

.user-panel {
	height: 100%;
	width: 100%;
	display: flex;
	padding: 50px 0;
}

.panel-content {
	padding: 0 40px;
}

.inventory-header {
	display: flex;
	flex-direction: column;
}

.inventory-delimiter {
	border: 1px solid #F8B415;
	margin-top: 5px;
}

.inventory-tittle {
	display: flex;
	align-items: baseline;
	padding: 0 20px;
	justify-content: space-between;
}

.inventory-group {
	display: flex;
	padding: 0 20px;
	align-items: center;
}

.inventory-group .btn-withdraw{
	margin-right: 20px;
}

.inventory-group .btn-filter {
	margin-top: 5px;
}

.inventory-name {
	font-family: 'Play';
	font-size: 30px;
	margin-right: 20px;
}

.inventory-content {
	display: flex;
	flex-direction: column;
  flex-wrap: wrap;
}