.profile {
	height: 100%;
	width: 100%;
}

.user-panel {
	height: 100%;
	width: 100%;
	display: flex;
	padding: 50px 0;
}

.panel-content {
	padding: 0 40px;
	width: 100%;
}

.profile-header {
	display: flex;
	flex-direction: column;
}

.profile-delimiter {
	border: 1px solid #F8B415;
	margin-top: 5px;
	width: 100%;
}

.profile-tittle {
	display: flex;
	align-items: baseline;
	padding: 0 20px;
	justify-content: space-between;
	flex-wrap: wrap;
}

.profile-tittle .info-line {
	max-width: 300px;
	flex-direction: flex-start;
}

.profile-tittle .info-line select {
	min-width: 150px;
}

.profile-tittle .info-line input {
	min-width: 150px;
}

.profile-group {
	display: flex;
	padding: 0 20px;
	align-items: center;
}

.profile-group .btn-withdraw{
	margin-right: 20px;
}

.profile-group .btn-loading {
	margin: 0 20px;
}

.btn-create-item {
	color: black;
}

.profile-group .btn-filter {
	margin-top: 5px;
}

.profile-input input {
	padding: 10px 20px;
	min-width: 200px;
	font-size: 16px;
	font-family: "Nunito";
	margin: 5px;
	color: var(--main-color);
	border: 2px solid var(--main-color);
	border-radius: 8px;
	background: none;
	outline: none;
}

.profile-input {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.profile-input img {
	width: 18px;
	height: 18px;
	margin-left: 5px;
	background: #EAA22F;
	border-radius: 8px;
	padding: 9px;
	transition: all 0.3s ease-out;
	cursor: pointer;
}

.profile-name {
	font-family: 'Play';
	font-size: 30px;
	margin-right: 20px;
}

.profile-back {
	font-size: 28px;
	cursor: pointer;
}

.inventory-content, .box-content, 
.profile-content, .payment-content,
.withdrawn-content, .admin-item-content {
	display: flex;
	flex-direction: column;
  flex-wrap: wrap;
}

.admin-content {
	display: flex;
  flex-wrap: wrap;
	justify-content: center;
}