.small_item {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 70px;
  width: 80px;

  border-radius: 15px;

  cursor: pointer;

  margin: 3px;

  .image {
    max-height: 50px;
    max-width: 70px;
    padding: 10px;
    transition: opacity 300ms;
  }

  .chance {
    position: absolute;
    font-size: 14px;
    color: black;
    transition: opacity 300ms;
  }
}
