.withdrawn_items_history_content {
	padding-top: 10px;
}

.withdrawn_items_history {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -10px;
}

.history {
	display: flex;
	align-items: center;
	height: 100px;
	width: 400px;
	margin: 5px;
}

.history_content {
	display: flex;
	background: rgb(0, 0, 0, 0.18);
  border-radius: 15px 0 0 15px;
	width: 100%;
}

.history_btn {
	width: 40px;
	height: 100px;
	display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 900;
  border-radius: 0 15px 15px 0;
}

.history_item {
	border-radius: 15px 0 0 15px;
	cursor: pointer;
}

.history_item img {
	max-width: 120px;
	height: 100px;
	object-fit: scale-down;
}

.history_info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-content: space-around;
	align-items: center;
	padding: 0 10px;
}

.info_cost {
	display: flex;
	font-weight: 800;
	margin-left: 10px;
}

.info_main {
	display: flex;
	align-items: center;
}

.info_date, .info_invoice_id {
	color: #C1C1C2;
	font-family: 'Play';
	font-size: 14px;
	opacity: 0.7;
}

.info_cost img {
	width: 20px;
	height: 20px;
	margin-left: 2px;
	background: transparent;
}