.header {
  width: 100%;
  height: 80px;
  background: var(--color-black__2);
  border-bottom: 1px solid var(--color-gray__1);
  position: fixed;
  z-index: 99;
}

.container {
  margin: 0 auto;
  max-width: 1720px;
  height: 100%;
  padding: 0 40px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
}

.header_online {
  display: flex;
  margin-right: 40px;

  img {
    margin-right: 5px;
  }

  .online {
    color: white;
    font-size: 16px;
    font-family: "Play";
    text-align: center;
  }
}

.header_navbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  nav,
  .navbar {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
  }
}

.header_user_bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .list_lunge {
    display: flex;
    align-items: center;
  }
}

.header_search_bar {
  position: relative;
  width: 220px;

  .search_item {
    position: absolute;

    width: 90%;

    background: var(--color-gray__2);
    border: 1px solid var(--color-green__1);

    padding: 10px;

    .image {
      background-repeat: no-repeat;
      background-position: 50%;
      border-radius: 50%;
      width: 65px;
      height: 65px;
      cursor: pointer;
      object-fit: cover;
    }
  }
}

@media (max-width: 1162px) {
  .header {
    height: 120px;
  }
  .header_navbar {
    flex-direction: column;
  }
}

@media (max-width: 1010px) {
  .header_online {
    margin-right: 10px;
  }
  .container {
    padding: 0;
  }
}

@media (max-width: 900px) {
  .header {
    height: 180px;
  }

  .container {
    padding: 0 40px;
  }

  .header__wrapper {
    justify-content: space-between;
  }

  .header_user_bar,
  .header_search_bar,
  .header_online {
    margin-top: 20px;
  }

  .header_online {
    order: -1;
  }

  .header_user_bar {
    order: 0;
  }

  .header_navbar {
    flex: 1 1 auto;
    order: 1;
  }
}

@media (max-width: 700px) {
  .header_search_bar {
    order: 1;
  }
}

@media (max-width: 550px) {
  .container {
    padding: 0 10px;
  }

  .header {
    height: 200px;
  }

  .header_navbar nav {
    margin-left: -20px;
    flex-wrap: wrap;
    justify-content: center;
    height: 60px;
  }
}

@media (max-width: 500px) {
  .header {
    height: 240px;
  }

  .header__wrapper {
    align-content: space-between;
    justify-content: center;
  }
}

@media (max-width: 458px) {
  .header {
    height: 350px;
  }

  .header_user_bar {
    .list_lunge {
      order: -1;
    }
  }
}

@media (max-width: 336px) {
  .header {
    height: 440px;
  }

  .header_user_bar {
    display: flex;
    align-items: center;

    .user_bar {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
