.info-slider {
    font-family: 'Nunito';
    width: 100%;
}

.info-slider {
    margin-top: 30px;
    width: 100%;
}

.info-slider h1 {
    text-align: center;
}

.info-slider p {
    text-align: justify;
}

.info-text .sub-items {
    padding: 0 0 10px 20px;
    margin: 0;
}

.info-text .document-link {
    color: var(--main-color);
    font-size: 16px;
}

.sub-items h5 {
    font-size: 14px;
    margin-bottom: 0;
}

.info-bar .btn-info, .btn-info--activate {
    margin: 10px 5px 30px 0;
}