.info {
  height: 100%;
  width: 100%;

  .container_small {
    max-width: 1060px;

    margin: 0 auto;
    padding: 0 40px;
  }
}

.panel {
  height: 100%;
  width: 100%;

  .panel_bar {
    display: flex;
    justify-content: space-evenly;
  }
}

.panel_content {
  .content {
    color: var(--color-orange__1);

    h1 {
      text-align: center;
    }

    h5 {
      margin: 15px 0 5px 0;
    }

    p {
      font-size: 16px;
      text-align: justify;
      padding: 0;
      margin: 2px 0;

      & * {
        color: var(--color-orange__1);
        font-size: 16px;
      }
    }

    .delimiter {
      border: 1px solid var(--color-orange__1);
      width: 100%;
      margin: 20px 0;
    }

    .paragraph {
      margin: 0px 0 10px 10px;
    }

    .link {
      & * {
        color: var(--color-orange__1);
        font-size: 16px;
      }
    }
  }
}
