.info-slider {
    width: 100%;
}

.info-slider {
    margin-top: 30px;
    width: 100%;
}

.info-slider h1 {
    text-align: center;
}

.info-slider p {
    text-align: justify;
}

.info-bar .btn-info, .btn-info--activate {
    margin: 10px 5px 30px 0;
}