:root {
    --color_font_box: #F8B415;
    --color_border_box_delimiter: #313138;
    --color_border_box_delimiter--hover: #F8B415;
    --background_cost_box_color: 180deg, rgba(255,230,101,1) 100%, rgba(254,115,36,1) 100%;
}

.game {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 200px;
    flex-wrap: wrap;
    margin: 20px 30px;
    align-items: center;
}

.game:hover .game_delimiter {
    border-color: var(--color_border_box_delimiter--hover);
    -webkit-transition: border-color 400ms linear;
    -ms-transition: border-color 400ms linear;
    transition: border-color 400ms linear;
}

.game img {
    width: 200px;
}

.game_name {
    color: var(--color_font_box);
    font-size: 20px;
    font-weight: 400;
    font-family: 'Play';
    margin: 10px 0;
}

.game_delimiter {
    border: 1px solid var(--color_border_box_delimiter);
    margin-top: 30px;
    width: 100%;
    transition: 0.4s border-color;
}