.roulette {
	color: var(--color-orange__1);

	max-width: 100%;

	margin: 20px 0;
}

.inner {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	transition: all 500ms;

	.arrow {
		transform: rotate(90deg);
		font-size: 28px;
	}

	& * {
		margin: 0 5px;
	}

	.text {
		text-align: center;

		font-family: 'Nunito';
		font-size: 32px;
		font-weight: 900;

		color: var(--color-gray__5);

		margin: 0 auto;
	}
}

.frame {
	position: absolute;

	width: 100%;
	height: 100%;

	z-index: 10;

	.border_top,
	.border_bottom {
		position: absolute;

		background: var(--color-orange__1);

		height: 5px;
		width: 95%;
	}

	.border_top {
		top: 0;

		z-index: 1;
	}

	.border_bottom {
		display: flex;
		bottom: 28px;

		z-index: 1;
	}

	.bracket_left {
		position: absolute;

		left: 0;

		height: 100%;
		width: 40px;

		.triangle_top {
			display: inline-block;
			position: absolute;

			border-top: 55px solid var(--color-orange__1);
			border-right: 50px solid transparent;

			margin: 0;
		}
		.triangle_bottom {
			display: inline-block;
			position: absolute;

			top: 45px;

			border-bottom: 55px solid var(--color-orange__1);
			border-right: 50px solid transparent;

			margin: 0 0 5px 0;
		}
	}

	.bracket_right {
		position: absolute;

		right: 13px;

		height: 100%;
		width: 40px;

		.triangle_top {
			display: inline-block;
			position: absolute;

			border-top: 55px solid var(--color-orange__1);
			border-left: 50px solid transparent;

			margin: 0;
		}
		.triangle_bottom {
			display: inline-block;
			position: absolute;

			top: 49px;

			border-bottom: 55px solid var(--color-orange__1);
			border-left: 50px solid transparent;

			margin: 0;
		}
	}
}
