:root {
    --background_header_button: #F8B415;
    --background_anchor_button: #1A1A1D;
    --color_anchor_button: #FFE665;
    --color_header_button: #1A1A1D;
}

.item {
    display: flex;
    background: rgb(0, 0, 0, 0.18);
    border-radius: 15px;
    width: 250px;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.item:hover {
    background: rgb(0, 0, 0, 0.5);
    transition: all 0.3s ease-out;
}

.item img {
    height: 100px;
    max-width: 100px;
    padding: 10px;
    border-radius: 15px 0 0 15px;
}

.item_info {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    justify-content: center;
    width: 100%;
}

.info_name {
    font-size: 15px;
    font-family: 'Play';
}

.info_game {
    color: #ACACAD;
    font-size: 15px;
    font-family: 'Play';
}

.info_cost {
    display: flex;
    align-items: center;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 16px;
}

.info_cost img {
    width: 20px;
    height: 20px;
}

.big_item {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    width: 150px;
    margin: 10px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    border-radius: 15px;
    font-size: 11px;
    color: #FFF;
    font-family: "Nunito", Serif;
    font-weight: 250;
    max-height: 60px;
    min-height: 60px;
    text-decoration: none;
    padding: 20px;
    background: rgb(255,0,0);
    cursor: pointer;
}

.big_item img{
    max-height: 50px;
    max-width: 150px;
}

.item_roulette {
    display: flex;
    background-color: var(--background_page_color);
    flex-direction: row;
    overflow: hidden;
    justify-content: left;
}

.item_name {
    margin: 0;
}

.item_date {
    margin: 0;
}