:root {
    --background_header_button: #F8B415;
    --background_anchor_button: #1A1A1D;
    --color_anchor_button: #FFE665;
    --color_header_button: #1A1A1D;
}

.big_item {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    min-width: 150px;
    margin: 10px;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    font-size: 11px;
    color: #FFF;
    font-family: "Nunito", Serif;
    font-weight: 250;
    max-height: 60px;
    min-height: 60px;
    text-decoration: none;
    padding: 20px;
    background: rgb(255,0,0);
}

.big_item img{
    max-width: 50px;
}

.item_roulette {
    display: flex;
    background-color: var(--background_page_color);
    flex-direction: row;
    justify-content: left;
}
