:root {
    --background_header_button: #F8B415;
    --background_anchor_button: #1A1A1D;
    --color_anchor_button: #FFE665;
    --color_header_button: #1A1A1D;
}

.item {
    display: flex;
    background: rgb(0, 0, 0, 0.18);
    border-radius: 15px;
    width: 250px;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.item:hover {
    background: rgb(0, 0, 0, 0.5);
    transition: all 0.3s ease-out;
}

.small_item {
    display: flex;
    align-items: center;
    height: 70px;
    max-width: 70px;
    margin: 3px;
    cursor: pointer;
}

.small_item img {
    height: 50px;
    max-width: 50px;
    padding: 10px;
    border-radius: 15px;
}

.item img {
    height: 100px;
    max-width: 100px;
    padding: 10px;
    border-radius: 15px 0 0 15px;
}

.item_info {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    justify-content: center;
    width: 100%;
}

.info_name {
    font-size: 15px;
    font-family: 'Play';
}

.info_game {
    color: #ACACAD;
    font-size: 15px;
    font-family: 'Play';
}

.info_cost {
    display: flex;
    align-items: center;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 16px;
}

.info_cost img {
    width: 20px;
    height: 20px;
}

.big_item {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex: 0 0 auto;
    width: 160px;
    height: 110px;
    margin: 5px 10px 5px 5px;
    font-size: 11px;
    color: #FFF;
    text-decoration: none;
    font-family: "Nunito", Serif;
    font-weight: 250;
}

.big_item_inner_flipped, .big_item__face__back {
    transform: rotateY(180deg);
}

.big_item_user {
    display: flex;
    align-items: center;
    height: 90px;
    width: 40px;
    border-radius: 15px 0 0 15px;
    margin-bottom: 10px;
    transition: margin 200ms;
    cursor: pointer;
}

.big_item_user:hover {
    transition: margin 200ms;
    margin-bottom: 20px;
}

.logo_user {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin: 0 5px;
}

.big_item_inner, .big_item_inner_flipped {
    width: 120px;
    height: 95px;
    transition: transform 1s, margin 200ms;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
}

.big_item_inner:hover, .big_item_inner_flipped:hover {
    transition: transform 1s, margin 200ms;
    margin-bottom: 20px;
}

.big_item__face__front, .big_item__face__back {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 0 15px 15px 0;
    height: 50px;
    width: 100px;
    padding: 20px 20px 20px 0;
}

.big_item img{
    max-height: 50px;
    max-width: 150px;
}

.item_roulette {
    display: flex;
    background-color: var(--background_page_color);
    flex-direction: row;
    overflow: hidden;
    justify-content: left;
}

.item_name {
    margin: 0;
}

.item_date {
    margin: 0;
}