.item_img img {
	width: 64px;
	max-height: 64px;
	margin: 0 10px;
}

.item_info {
	color: white;
}

.info_name {
	font-family: 'Megrim';
	text-align: start;
	font-size: 18px;
}

.info_date {
	font-family: 'Megrim';
	font-size: 12px;
	text-align: start;
}

.info_cost {
	display: flex;
	align-items: flex-end;
	font-family: 'Play';
	text-align: start;
}

.info_cost img {
	height: 20px;
}

.item_info p {
	margin: 0;
}

.status_item {
	display: flex;
	width: 260px;
	height: 100px;
	border-radius: 15px;
	margin: 0 10px;
}

.status {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100px;
	width: 35px;
	border-radius: 0 13px 13px 0;
}
.item {
	display: flex;
	align-items: center;
	border-radius: 13px 0 0 13px;
	width: 225px;
	justify-content: space-evenly;
	cursor: pointer;
}

.item_buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100px;
	width: 35px;
	border-radius: 0 13px 13px 0;
	background: rgba(0, 0, 0, 0.3)
}