:root {
    --background_modal: rgb(0,0,0, 0.62);
}

.modal {
    width: 100vw;
    height: 100vh;
    background: var(--background_modal);
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
}

.modal.active {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.modal__content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden_text {
    position: fixed;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 18px;
    font-weight: 900;
    font-family: Nunito;
    color: #808080;
    cursor: pointer;
}