@import url("/src/assets/styles/colors.css");

.load_img_content, .forgot_password_content, 
.sell_content, .exchange_content,
.withdraw_content, .trade_url_change_content,
.send_email_content, .sign_in_content,
.sign_up_content, .sign_up_content .items,
.item_content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.exchange_content {
    width: 800px;
}

.sign_up_content {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.sign_up_content .items{
    justify-content: space-around;
}

.sign_up_window, .send_email_window, 
.sign_in_window, .forgot_password_window, 
.load_img_window, .sell_window,
.exchange_window, .withdraw_window,
.trade_url_change_window, .item_window {
    display: flex;
    justify-content: center;
    text-align: center;
    background: var(--background_modal-window);
    border-radius: 15px;
    padding: 40px;
}

.sign_up_window {
    max-width: 900px;
}

.send_email_window {
    max-width: 300px;
}

.sign_in_window, .trade_url_change_window {
    max-width: 400px;
}

.item_window {
    width: 600px;
}

.forgot_password_window, .load_img_window {
    max-width: 500px;
}

.sell_window, .withdraw_window, .exchange_window {
    padding: 30px 10px;
}
.sell_window {
    min-width: 400px;
    max-width: 650px;
}

.exchange_window {
    min-width: 800px;
    min-height: 400px;
}

.withdraw_window {
    min-width: 400px;
    max-width: 650px;
    position: relative;
}

.load_img_window {
    min-width: 300px;
    min-height: 300px;
}

.item_info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.item_header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.item_tittle {
    font-size: 28px;
    margin-left: 5px;
}

.item_sub_tittle {
    font-size: 22px;
}

.info_buttons{
    display: flex;
    margin-top: 15px;
}
.btn_send {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Play';
    height: 35px;
    font-weight: 500;
    font-size: 19px;
    cursor: pointer;
    background: linear-gradient(var(--background_withdraw_color));
    background-size: 1px 60px;
    transition: background 400ms ease-out;
    color: black;
    width: 200px;
    border-radius: 5px;
    margin-right: 5px;
}

.btn_back {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito';
    height: 35px;
    font-weight: 500;
    font-size: 19px;
    cursor: pointer;
    background: linear-gradient(var(--background_back_color));
    background-size: 1px 60px;
    transition: background 400ms ease-out;
    color: black;
    width: 200px;
    border-radius: 5px;
    margin-right: 5px;
}

.btn_back p {
    margin: 0;
}

.btn_back .timer {
    margin: 2px 0 0 5px;
}

.btn_send:hover {
    background-position: 40px;
}

.btn_back:hover {
    background-position: 40px;
}

.btn_delete:hover {
    background-position: 40px;
}


.btn_delete {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Play';
    height: 35px;
    font-weight: 500;
    font-size: 19px;
    cursor: pointer;
    background: linear-gradient(var(--background_sell_color));
    background-size: 1px 60px;
    transition: background 400ms ease-out;
    color: black;
    width: 200px;
    border-radius: 5px;
    margin-left: 5px;
}

.item_img {
    display: flex;
    justify-content: center;
}

.item_img img {
    width: 200px;
    max-width: 400px;
    max-height: 150px;
    border-radius: 15px 0 0 15px;
    padding: 20px;
}

.info_additional {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delimiter {
    border: 1px solid #F8B415;
    width: 70%;
    margin: 20px 0;
}

.send_button {
    width: 200px;
    border: 1px gray solid;
    padding: 10px 20px;
    color: gray;
    border-radius: 10px;
}

.send_button__active {
    width: 200px;
    border: 1px #F8B415 solid;
    padding: 10px 20px;
    color: #F8B415;
    border-radius: 10px;
    cursor: pointer;
}

.tittle {
    font-size: 42px;
    margin: 0;
    padding: 5px 0;
    font-family: "Play";
}

.sell_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 400px;
}

.sell_tittle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sell_tittle .tittle {
    font-family: 'Nunito';
    font-size: 28px;
    margin: 0px 10px 0 5px;
}

.sell_counter {
    font-family: 'Nunito';
}

.sell_error {
    color: red;
    font-size: 14px;
}

.exchange_counters {
    font-size: 20px;
    font-family: 'Nunito';
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.exchange_counters .counter {
    border: 2px solid #F8B415;
    margin: 0 5px;
    padding: 10px 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.exchange_content .not_found {
    font-family: "Nunito";
    font-size: 20px;
}

.counter img {
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

.exchange_content .delimiter {
    border: 1px solid #F8B415;
    margin: 5px 0;
    width: 80%;
}

.exchange_content .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.exchange_tittle {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.exchange_tittle .tittle {
    font-family: 'Nunito';
    font-size: 28px;
    margin: 0px 10px 0 5px;
}

.withdraw_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 400px;
}

.withdraw_tittle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.withdraw_tittle .tittle {
    font-family: 'Nunito';
    font-size: 28px;
    margin: 0px 10px 0 5px;
}

.withdraw_counter {
    font-family: 'Nunito';
}

.withdraw_content .description {
    font-family: 'Nunito';
    margin: 20px 0;
}

.withdraw_error {
    color: red;
    font-size: 14px;
}

.delimiter_first {
    border: 1px solid #F8B415;
    width: 70%;
    margin: 15px 0 15px 0;
}

.delimiter_second {
    border: 1px solid #F8B415;
    width: 50%;
    margin: 20px 0 5px 0;
}

.withdraw_content .logo {
    margin-top: 10px;
    width: 135px;
}

.withdraw_content .input_form {
    margin: 20px 0 10px 0;
    min-width: 300px;
}

.agree_eta button {
    font-size: 14px;
    color: var(--main-link-color);
}

.error_message {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: red;
}

.sub_message {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Megrim';
    padding: 10px 0px;
}

.notify_message {
    color: gray;
    font-family: "Poiret One";
    font-size: 15px;
    cursor: pointer;
}

.sub_message h1 {
    text-align: center;
}

.sing_up_content .items p {
    font-size: 42px;
    font-weight: 600;
    font-family: 'Nunito';
    margin: 3px;
}

.input_form {
    padding: 10px 20px;
    min-width: 300px;
    font-size: 16px;
    font-family: Nunito;
    margin: 5px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    background: none;
    outline: none;
}

.forgot_password {
    color: #979797;
    margin-top: 5px;
    cursor: pointer;
}

.checkbox_section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: Nunito;
    font-weight: 600;
    color: #adb5bd;
}

.checkbox_form {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    margin: 5px;
}

.btn {
    border-radius: 8px;
    padding: 8px 10px;
    width: 200px;
    cursor: pointer;

    transition: background 400ms ease-out;
    background: var(--main-color);
    background-size:1px 80px;

    background-size:1px 80px;

    font-family: 'Play';
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_main {
    border-radius: 8px;
    padding: 8px 10px;
    width: 250px;
    cursor: pointer;
    margin-top: 5px;

    transition: background 400ms ease-out;
    background: var(--main-color);
    color: var(--background_modal-window);
    background-size:1px 80px;

    font-family: 'Play';
    font-weight: 400;
    font-size: 20px;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_secondary {
    border-radius: 8px;
    padding: 8px 10px;
    width: 200px;
    cursor: pointer;

    margin: 10px auto;
    transition: background 400ms ease-out;

    font-family: 'Play';
    font-weight: 400;
    font-size: 20px;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid var(--main-color);
    color: #adb5bd;
}


