@import url("/src/assets/styles/colors.css");

.sign_in_window {
    width: 55vw;
    height: 50vh;
    background: var(--background_modal-window);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    justify-content: center;
}

.agree_eta button {
    font-size: 14px;
    color: var(--main-link-color);
}

.sign_in_window_content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.sign_in_window_content__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sign_in_window_content__form p {
    font-size: 42px;
    font-weight: 600;
    font-family: Nunito;
    margin: 3px;
}

.input_form {
    padding: 10px 20px;
    min-width: 23vw;
    font-size: 16px;
    font-family: Nunito;
    margin: 5px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    background: none;
    outline: none;
}

.checkbox_section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: Nunito;
    font-weight: 600;
    color: #adb5bd;
}

.checkbox_form {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    margin: 5px;
}

.btn {
    border-radius: 8px;
    padding: 8px 10px;
    width: 200px;
    cursor: pointer;

    transition: background 400ms ease-out;
    background: var(--main-color);
    background-size:1px 80px;

    background-size:1px 80px;

    font-family: 'Play';
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_main {
    border-radius: 8px;
    padding: 8px 10px;
    width: 250px;
    cursor: pointer;

    transition: background 400ms ease-out;
    background: var(--main-color);
    background-size:1px 80px;

    font-family: 'Play';
    font-weight: 400;
    font-size: 20px;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.btn_secondary {
    border-radius: 8px;
    padding: 8px 10px;
    width: 200px;
    cursor: pointer;

    transition: background 400ms ease-out;

    font-family: 'Play';
    font-weight: 400;
    font-size: 20px;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid var(--main-color);
    color: #adb5bd;
}


