@import url("/src/assets/styles/colors.css");

.sign_in_window, .sign_up_window, .send_email_window {
    width: 55vw;
    height: 50vh;
    background: var(--background_modal-window);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    justify-content: center;
}

.load_img_window {
    min-width: 400px;
    max-width: 650px;
    background: var(--background_modal-window);
    border-radius: 15px;
    text-align: center;
    padding: 30px 10px;
    display: flex;
    justify-content: center;
}

.load_img_content{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.forgot_password_window {
    max-width: 500px;
    background: var(--background_modal-window);
    border-radius: 15px;
    text-align: center;
    padding: 10px 40px;
    display: flex;
    justify-content: center;
}

.forgot_password_content{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.forgot_password_content .tittle {
    font-size: 24px;
    margin: 0;
    padding: 5px 0;
}

.sell_window {
    min-width: 400px;
    max-width: 650px;
    background: var(--background_modal-window);
    border-radius: 15px;
    text-align: center;
    padding: 30px 10px;
    display: flex;
    justify-content: center;
}

.sell_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 400px;
}

.sell_tittle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sell_content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.sell_tittle .tittle {
    font-family: 'Nunito';
    font-size: 28px;
    margin: 0px 10px 0 5px;
}

.sell_counter {
    font-family: 'Nunito';
}

.sell_error {
    color: red;
    font-size: 14px;
}

.exchange_window {
    width: 800px;
    height: 400px;
    background: var(--background_modal-window);
    border-radius: 15px;
    text-align: center;
    padding: 30px 10px;
    display: flex;
    justify-content: center;
}

.exchange_content {
    display: flex;
    width: 800px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.exchange_counters {
    font-size: 20px;
    font-family: 'Nunito';
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.exchange_counters .counter {
    border: 2px solid #F8B415;
    margin: 0 5px;
    padding: 10px 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.exchange_content .not_found {
    font-family: "Nunito";
    font-size: 20px;
}

.counter img {
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

.exchange_content .delimiter {
    border: 1px solid #F8B415;
    margin: 5px 0;
    width: 80%;
}

.exchange_content .items {
    display: flex;
    flex-wrap: wrap;
}

.exchange_tittle {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.exchange_tittle .tittle {
    font-family: 'Nunito';
    font-size: 28px;
    margin: 0px 10px 0 5px;
}

.withdraw_window {
    min-width: 400px;
    max-width: 650px;
    padding: 30px 10px;
    background: var(--background_modal-window);
    border-radius: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.withdraw_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 400px;
}

.withdraw_tittle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.withdraw_content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.withdraw_tittle .tittle {
    font-family: 'Nunito';
    font-size: 28px;
    margin: 0px 10px 0 5px;
}

.withdraw_counter {
    font-family: 'Nunito';
}

.withdraw_content .description {
    font-family: 'Nunito';
    margin: 20px 0;
}

.withdraw_error {
    color: red;
    font-size: 14px;
}

.delimiter_first {
    border: 1px solid #F8B415;
    width: 70%;
    margin: 0 0 15px 0;
}

.delimiter_second {
    border: 1px solid #F8B415;
    width: 50%;
    margin: 20px 0 5px 0;
}

.withdraw_content .logo {
    margin-top: 10px;
    width: 135px;
}

.withdraw_content .input_form {
    margin: 20px 0 10px 0;
    min-width: 300px;
}

.sign_in_window {
    width: 35vw;
}

.send_email_window {
    height: 400px;
    width: 400px;
}

.send_email_window_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.agree_eta button {
    font-size: 14px;
    color: var(--main-link-color);
}

.sign_up_window_content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}
.sign_in_window_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign_in_window_content_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign_up_window_content__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.error_message {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: red;
}

.sub_message {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Megrim';
    padding: 0 20px;
}

.sub_message h1 {
    text-align: center;
}

.sign_in_window_content__form p, .sign_up_window_content__form p {
    font-size: 42px;
    font-weight: 600;
    font-family: 'Nunito';
    margin: 3px;
}

.input_form {
    padding: 10px 20px;
    min-width: 23vw;
    font-size: 16px;
    font-family: Nunito;
    margin: 5px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    background: none;
    outline: none;
}

.forgot_password {
    color: #979797;
    margin-top: 5px;
    cursor: pointer;
}

.checkbox_section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: Nunito;
    font-weight: 600;
    color: #adb5bd;
}

.checkbox_form {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    margin: 5px;
}

.btn {
    border-radius: 8px;
    padding: 8px 10px;
    width: 200px;
    cursor: pointer;

    transition: background 400ms ease-out;
    background: var(--main-color);
    background-size:1px 80px;

    background-size:1px 80px;

    font-family: 'Play';
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_main {
    border-radius: 8px;
    padding: 8px 10px;
    width: 250px;
    cursor: pointer;

    transition: background 400ms ease-out;
    background: var(--main-color);
    color: var(--background_modal-window);
    background-size:1px 80px;

    font-family: 'Play';
    font-weight: 400;
    font-size: 20px;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.btn_secondary {
    border-radius: 8px;
    padding: 8px 10px;
    width: 200px;
    cursor: pointer;

    margin: 10px auto;
    transition: background 400ms ease-out;

    font-family: 'Play';
    font-weight: 400;
    font-size: 20px;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid var(--main-color);
    color: #adb5bd;
}


