.withdraw {
	display: flex;
	justify-content: center;
	text-align: center;

	border-radius: 15px;
	background: var(--color-black__2);

	min-width: 310px;

	padding: 40px;
}

.withdraw_content {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;

	.description {
		padding: 10px 0;
		max-width: 350px;

		color: var(--color-gray__4);
	}

	.counter {
		font-family: 'Nunito';
	}

	.items {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		max-height: 400px;
	}

	.button_withdraw {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 250px;

		font-family: 'Play';
		font-weight: 400;
		font-size: 20px;

		border-radius: 8px;
		background: var(--color-orange__1);
		color: var(--color-black__2);

		cursor: pointer;

		padding: 8px 10px;
		margin-top: 5px;
	}

	.delimiter_first {
		width: 70%;

		border: 1px solid var(--color-orange__1);

		margin: 15px 0 15px 0;
	}

	.delimiter_second {
		width: 50%;

		border: 1px solid var(--color-orange__1);

		margin: 20px 0 5px 0;
	}

	.error {
		color: red;
	}
}

.withdraw_header {
	display: flex;
	justify-content: center;
	align-items: center;

	.loading {
	}
	.tittle {
		font-family: 'Nunito';
		font-size: 28px;

		margin: 0px 10px 0 5px;
	}
}

@media (max-width: 400px) {
	.withdraw {
		padding: 10px;
	}
}
