.message {
	display: flex;
	flex-direction: column;
}
.message-title {
	flex: 0 0 auto;
	font-size: 40px;
	text-align: center;
	margin: 40px 0px;
}
.message-text {
	
}
.message-main {
	margin: 0 auto;
	flex: 1 0 auto;
}
.message-footer {
	margin: 0 auto;
	flex: 0 0 auto;
}

.message-handler_row {
	display: flex;
	flex-direction: row;
}

.button-submit {
	margin: 40px auto;
	display: block;
}