:root {
    --color_font_box: #F8B415;
    --color_border_box_delimiter: #313138;
    --color_border_box_delimiter--hover: #F8B415;
    --background_cost_box_color: 180deg, rgba(255,230,101,1) 100%, rgba(254,115,36,1) 100%;
    --background_color_locked_delimiter: #998888;
    --background_color_locked_cost: 180deg, rgb(211, 211, 211) 0%, rgba(153,136,136,1) 67%;
    --color_locked_cost: #622F00;
}

.box_small {
    display: flex;
    align-items: center;
    height: 70px;
    max-width: 70px;
    margin: 3px;
    cursor: pointer;
}

.box_small img {
    height: 50px;
    max-width: 50px;
    padding: 10px;
    border-radius: 15px;
    background: rgb(256, 256, 256, 0.08);
}

.lootbox {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 200px;
    flex-wrap: wrap;
    padding: 20px 30px;
    align-items: center;
}

.lootbox:hover .box_delimiter {
    border-color: var(--color_border_box_delimiter--hover);
    -webkit-transition: border-color 400ms linear;
    -ms-transition: border-color 400ms linear;
    transition: border-color 400ms linear;
}

.lootbox:hover .btn_cost_box button {
    background-position:40px;
}

.lootbox_locked {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 200px;
    flex-wrap: wrap;
    padding: 20px 30px;
    align-items: center;
    color: var(--background_color_locked_cost);
}

.lootbox_locked:hover .box_delimiter {
    border-color: var(--background_color_locked_delimiter);
    -webkit-transition: border-color 400ms linear;
    -ms-transition: border-color 400ms linear;
    transition: border-color 400ms linear;
}

.lootbox_locked:hover .btn_cost_box button {
    background-position:40px;
}

.lootbox_locked .box_name{
    color: var(--background_color_locked_cost);
}

.lootbox_locked .btn_cost_box button{
    background: linear-gradient(var(--background_color_locked_cost));
    background-size: 1px 80px;
    color: var(--color_locked_cost);
}

.lootbox img {
    width: 200px;
}

.lootbox_locked img {
    width: 200px;
}

.box_name {
    color: var(--color_font_box);
    font-size: 20px;
    font-weight: 400;
    font-family: 'Play';
    margin: 10px 0;
}

.box_delimiter {
    border: 1px solid var(--color_border_box_delimiter);
    margin-top: 30px;
    width: 100%;
    transition: 0.4s border-color;
}