.history {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 3px 10px;
}

.history_tittle {
	color: #C1C1C2;
	font-family: 'Play';
	font-size: 14px;
	margin-bottom: 2px;
}

.history_content {
	display: flex;
	align-items: center;
	height: 120px;
	width: 600px;
	background: rgb(0, 0, 0, 0.18);
	transition: all 0.3s ease-out;
	border-radius: 15px;
}

.history_content:hover {
	background: rgb(0, 0, 0, 0.3);
	transition: all 0.3s ease-out;
}

.vertical_delimiter {
	height: 70%;
	border: 1px solid #F8B415;
}

.history_box, .history_item {
	display: flex;
	align-items: center;
	flex: 1 1 auto;
	justify-content: space-between;
}

.box_content, .item_content {
	margin: 0 10px;
	width: 165px;
}

.history_box img {
	height: 120px;
	max-width: 120px;
	background-color: rgb(256, 256, 256, 0.08);
	border-radius: 15px 0 0 15px;
	object-fit: cover;
	cursor: pointer;
}

.history_item img {
	height: 120px;
	max-width: 120px;
	overflow: hidden;
	object-fit: scale-down;
	border-radius: 0 15px 15px 0;
	cursor: pointer;
}

.history_item p, .history_box p {
	margin: 0;
	font-family: 'Play';
	font-size: 15px;
}

.info {
	display: flex;
	margin: 0 -5px;
}

.info p {
	padding: 8px 5px;
	font-family: 'Nunito';
	font-weight: 700;
	font-size: 16px;
}

.info_cost {
	display: flex;
}

.info_cost img {
	width: 20px;
	height: 20px;
	margin-left: 2px;
	background: transparent;
	cursor: default;
}

.game {
	font-family: 'Play';
	color: #ACACAD;
}