.box_simple {
	display: flex;

	max-width: 300px;

	background: var(--color-black__8);
	border-radius: 15px;

	transition: all 0.3s;

	cursor: pointer;

	margin: 5px 10px;

	.box_image {
		height: 80px;
		max-width: 100px;

		border-radius: 15px 0 0 15px;

		padding: 10px;
	}

	&:hover {
		background: var(--color-black__3);
		transition: all 0.3s;
	}
}

.box_info {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 100%;

	font-size: 15px;
	font-family: 'Play';

	margin: 0 25px;

	.name {
	}

	.cost {
		display: flex;
		align-items: center;

		font-family: 'Nunito';
		font-weight: 700;
		font-size: 16px;

		.image {
			width: 20px;
			height: 20px;
		}
	}

	.game {
		color: var(--color-gray__7);
	}
}
