:root {
    --background_header_button: #F8B415;
    --background_anchor_button: #1A1A1D;
    --color_anchor_button: #FFE665;
    --color_header_button: #1A1A1D;
}

.btn {
	border-radius: 8px;
    padding: 8px 10px;
    width: 200px;
}

.btn-lang {
    display: flex;
    align-items: center;
    font-family: 'Play';
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    margin-left: 35px;
}

.btn-lang img {
    margin: 0 5px;
}

.btn-default {
    background-color: var(--background_header_button);
    color: var(--color_header_button);
    font-family: 'Play';
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-anchor {
    cursor: pointer;
    height: 60px;
    width: 300px;
    margin: 20px auto 0 auto;

    background-color: var(--background_anchor_button);
}

.btn-anchor .anchor-inside {
    display: block;
    width: 200px;
    margin: 0 auto;
    height: 0; 
    width: 200px;
    border-top: 10px solid var(--color_anchor_button);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin: 0 auto;
}