:root {
    --background_header_button: #F8B415;
    --background_anchor_button: #1A1A1D;
    --color_anchor_button: #FFE665;
    --color_header_button: #1A1A1D;
    --color_border_cost_box: #F8B415;
    --color_font_cost_box: #622F00;
    --color_coin_cost_box: #622F00;
    --background_cost_box_color: 180deg, rgba(255,230,101,1) 0%, rgba(254,115,36,1) 67%;
    --background_withdraw_color: 180deg, rgba(255,230,101,1) 0%, rgba(254,115,36,1) 70%;
    --background_sell_color: 180deg, rgba(236,138,138,1) 0%, rgba(245,62,62,1) 70%;
    --background_back_color: 180deg, rgba(0, 255, 130, 1) 0%, rgb(0, 122, 63)70%;
    --color_border_info: #FFE665;
    --color_border_balance: #00FF82;
    --color_font_balance: #00FF82;
    --color_icon_loading: #00FF82;
    --background_list_lunge_hover: #FFE665;
    --background_list_lunge: #F8B415;
    --border_item_lunge_color: #303030;
    --color_border_profile: #3B3B42;
    --color_exit: #BE0809;
    --background_active_profile: #F8B415;
    --color_active_profile: #1A1A1D;
    --color_filter_text: #E36060;
}

button {
    cursor: pointer;
}

.btn {
	border-radius: 8px;
    padding: 8px 10px;
    width: 200px;
    cursor: pointer;
}

.btn-mini-retractable {
    display: flex;
    padding: 5px;
    width: 40px;
    height: 20px;
    cursor: pointer;
    color: black;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px 0 0 5px;
    transition: all 300ms ease-out;
}

.btn-mini-retractable:hover {
    width: 200px;
}

.btn-mini-retractable img {
    height: 20px;
    max-width: 40px;
}

.btn-balance {
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Play';
    font-weight: 500;
    border: 2px solid var(--color_border_balance);
    color: var(--color_font_balance);
    padding: 8px 20px;
    width: 170px;
    height: 20px;
    margin-right: 20px;
}

.btn-loading {
    font-size: 28px;
    cursor: pointer;
}

.loading
{
    display: inline-block;
    color: var(--color_icon_loading);
    animation: spin 0.12s linear infinite;
}

@keyframes spin
{
    0%
    {
    transform: rotate(0deg);
    }
    100%
    {
    transform: rotate(360deg);
    }
}

.btn-info {
    -webkit-transition: all 200ms ease-out;  
    -moz-transition: all 200ms ease-out;  
    -o-transition: all 200ms ease-out;  
    transition: all 200ms ease-out;
    border: 2px solid var(--color_border_info);
    color: var(--color_border_info);

    font-size: 16px;
    font-family: 'Nunito';
}

.btn-profile-header {
    font-family: 'Play';
    font-size: 18px;
    border: 1px solid var(--color_border_profile);
    border-left: 0px;
    border-radius: 0px 8px 8px 0px;
    text-align: center;
    padding: 10px 0;
    width: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.btn-profile-header--active {
    font-family: 'Play';
    font-size: 18px;
    border: 1px solid var(--color_border_profile);
    border-left: 0px;
    border-radius: 0px 8px 8px 0px;
    text-align: center;
    padding: 10px 0;
    width: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--color_active_profile);
    background-color: var(--background_active_profile);
}

.btn-profile {
    font-family: 'Play';
    font-size: 18px;
    border: 1px solid var(--color_border_profile);
    border-left: 0px;
    border-radius: 0px 8px 8px 0px;
    text-align: center;
    padding: 20px 0;
    width: 250px;
}

.btn-filter {
    cursor: pointer;
}

.btn-withdraw {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Play';
    height: 35px;
    font-weight: 500;
    font-size: 19px;
    cursor: pointer;
    background: -moz-linear-gradient(var(--background_withdraw_color));
	background: -webkit-linear-gradient(var(--background_withdraw_color));
	background: linear-gradient(var(--background_withdraw_color));

    background-size: 1px 60px;
    -webkit-transition: background 400ms ease-out;  
    -moz-transition: background 400ms ease-out;  
    -o-transition: background 400ms ease-out;  
    transition: background 400ms ease-out;  
}

.btn-withdraw:hover {
    background-position: 40px;
}

.btn-sell {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Play';
    height: 35px;
    font-weight: 500;
    font-size: 19px;
    cursor: pointer;
    background: -moz-linear-gradient(var(--background_sell_color));
	background: -webkit-linear-gradient(var(--background_sell_color));
	background: linear-gradient(var(--background_sell_color));
    background-size: 1px 60px;

    -webkit-transition: background 400ms ease-out;  
    -moz-transition: background 400ms ease-out;  
    -o-transition: background 400ms ease-out;  
    transition: background 400ms ease-out;  
}

.btn-sell:hover {
    background-position: 40px;
}

.filter-text {
    color: var(--color_filter_text);
    margin: 0;
    padding: 0;
}

.btn-profile--active {
    font-family: 'Play';
    font-size: 18px;
    border: 1px solid var(--color_border_profile);
    border-left: 0px;
    border-radius: 0px 8px 8px 0px;
    text-align: center;
    padding: 20px 0;
    width: 250px;
    color: var(--color_active_profile);
    background-color: var(--background_active_profile);
}

.btn-profile:last-child {
    color: var(--color_exit);
}

.btn-info:hover {
    border: 2px solid #F8B415;
    color: #F8B415;
}

.btn-info--activate {
    border-radius: 0px;
    border-bottom: 2px solid #F8B415;
    font-size: 16px;
    font-family: 'Nunito';
    color: #F8B415;
}

.btn-lang {
    position: relative;
    display: flex;
    align-items: center;
    font-family: 'Play';
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    margin-left: 35px;
}

.btn-lang img {
    margin: 0 5px;
}

.btn-default {
    background-color: var(--background_header_button);
    color: var(--color_header_button);
    font-family: 'Play';
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-anchor {
    cursor: pointer;
    height: 60px;
    width: 300px;
    margin: 20px auto 0 auto;

    background-color: var(--background_anchor_button);
}

.status-update-date {
    height: 100%;
    width: 15px;
    border-radius: 0 13px 13px 0;
    background: #2f2f2f;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.status-update-date .status-strip {
    height: 100px;
    width: 15px;
    border-radius: 0 13px 13px 0;
}

.btn-anchor .anchor-inside {
    display: block;
    width: 200px;
    margin: 0 auto;
    height: 0; 
    width: 200px;
    border-top: 10px solid var(--color_anchor_button);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin: 0 auto;
}

.btn-cost-box {
    color: var(--color_font_cost_box);
    background: -moz-linear-gradient(var(--background_cost_box_color));
	background: -webkit-linear-gradient(var(--background_cost_box_color));
	background: linear-gradient(var(--background_cost_box_color));

    -webkit-transition: background 400ms ease-out;  
    -moz-transition: background 400ms ease-out;  
    -o-transition: background 400ms ease-out;  
    transition: background 400ms ease-out;  

    background-size:1px 80px;  

    font-family: 'Play';
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-cost-box svg {
    color: var(--color_coin_cost_box);
    height: 20px;
    width: 20px;
    margin-left: 10px;
}

.document-link {
    padding: 0;
    text-align: left;
	font-size: 18px;
	text-decoration: underline;
	color: var(--text_color_footer);
}

.list-lunge {
    display: flex;
    background: var(--background_list_lunge);
    color: var(--color_header_button);
    border: 1px solid var(--border_item_lunge_color);
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 40px;
}

.item-lunge {
    display: flex;
    border-top: 1px solid var(--border_item_lunge_color);
    flex-direction: row;
    padding: 10px 8px;
}

.load-drop-zone {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.drop-zone {
    border: 2px gray dashed;
    border-radius: 10px;
    padding: 40px;
    background: rgb(173, 181, 189, 0.1);
    cursor: pointer;
    position: relative;
}

.drop-zone__hover {
    border: 2px gray dashed;
    border-radius: 10px;
    padding: 40px;
    background: rgb(173, 181, 189, 0.15);
    cursor: pointer;
    position: relative;
}

.drop-zone__hover img {
    width: 240px;
}

.drop-zone img {
    width: 240px;
}

.drop-zone-message p b {
    color: rgb(184, 184, 184);
    font-family: 'Megrim';
    font-size: 20px;
}

.drop-zone-message p {
    color: rgb(184, 184, 184);
    font-family: 'Play';
    font-size: 18px;
}

.drop-zone-element {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.square-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #F8B415;
    width: 200px;
    height: 200px;
    font-size: 28px;
    transition: all 0.3s ease-out;
    cursor: pointer;
    margin: 10px;
}

.square-panel:hover {
    background: rgb(54, 54, 59, 0.2);
    transition: all 0.3s ease-out;
}

.square-panel img {
    height: 80px;
}