:root {
	--text_color: #F8B415;
	--text_color_footer: #F4AB75;
	--text_color_sub-statistic: #C5753A;
	--background_page_color: #1A1A1D;
	--background_footer_top_color: #F47D27;
	--background_footer_bot_default: rgba(168,76,15,1);
	--background_footer_bot_filter_start: #a84c0f;
	--background_footer_bot_filter_end: #491e03;
	--background_footer_bot_color: 180deg, rgba(168,76,15,1) 0%, rgba(73,30,3,1) 100%;
}

#root {
	height: 100%;
	width: 100%;
}

.--hidden {
	display: none;
	visibility: hidden;
}

html {
	background-color: var(--background_page_color);
	color: var(--text_color);
	font-family: 'Play';
	overflow-x: hidden;
	user-select: none;
}
#background-man-absolute {
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: -10;
	opacity: 0.05;
}

.main {
	margin-top: 80px;
    flex: 1 0 auto;
}

.texts h1 {
	text-align: center;
}

.texts p {
	text-align: justify;
}

.container {
    margin: 0 auto;
    max-width: 1720px;
    height: 100%;
    padding: 0 40px;
}

.container-small {
    margin: 0 auto;
    max-width: 1060px;
    padding: 0 40px;
}

.wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.header .footer {
	flex: 0 0 auto;
}

.header {
	width: 100%;
	height: 80px;
	background: var(--background_page_color);
	border-bottom: 1px solid #303030;
	position: fixed;
}

.header-wrapper {
	display: flex;
	align-items: center;
	height: 100%;
}

.header-online {
	flex: 0 0 auto;
	display: flex;
	margin-right: 40px;
}

.header-online img {
	margin-right: 5px;
}

.online {
	color: white;
	font-size: 16px;
	font-family: 'Play';
	text-align: center;
}

.header-navbar {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.header-userbar {
	display: flex;
	flex: 0 0 auto;
}

.navbar {
	flex: 0 0 auto;
	display: flex;
	align-items: center;
}

.navbar-logo {
	flex: 0 0 auto;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.logo-img {
	flex: 0 0 auto;
}

.logo-img img {
	height: 60px;
}

.logo-text {
	flex: 0 0 auto;
	font-size: 36px;
	font-family: 'Megrim';
	font-weight: bold;
}

.navbar-route img {
	margin: 0px 5px;
}

.navbar-route {
	display: flex;
	flex: 0 0 auto;
	margin-left: 20px;
	cursor: pointer;
}

.route-text {
	font-size: 16px;
	font-family: 'Play';
	font-weight: normal;
}

.footer {
	display: flex;
	min-height: 570px;
	flex-direction: column;
	font-family: 'Play';
	font-weight: 400;
	color: var(--text_color_footer);
}

.footer-transition {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 0 0 auto;
	height: 100px;
}

.footer-site {
	min-height: 370px;
	flex: 0 0 auto;
	background: var(--background_footer_bot_color_default);
	background: -moz-linear-gradient(var(--background_footer_bot_color));
	background: -webkit-linear-gradient(var(--background_footer_bot_color));
	background: linear-gradient(var(--background_footer_bot_color));
	filter: progid:DXImageTransform.Microsoft.gradient(
		startColorstr=var(--background_footer_bot_filter_start), 
		endColorstr=var(--background_footer_bot_filter_end),
		GradientType=1);
}

.footer-site .container {
	display: flex;
	justify-content: space-between;
}

.footer-butterfly {
	height: 100px;
	z-index: -12;
	width: 100%;
	background-color: var(--background_footer_top_color);
}

.butterfly {
	position: absolute;
	left: 0;
	z-index: -11;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	clip-path: polygon(50% 0, 100% 100%, 0 100%);
	top: 0;
	height: 100px;
	width: 100%;
	background-color: var(--background_page_color);
}

.footer-anchor {
	display: flex;
	width: 100%;
	height: 100px;
	background-color: var(--background_footer_top_color);
}

.site-social {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex: 0 0 auto;
	width: 30%;
}

.social-link {
	display: flex;
	align-items: flex-start;
	flex: 0 0 auto;
	flex-direction: column;
}

.link-bar {
	display: flex;
	align-items: center;
    justify-content: center;
	margin: 0 -14px;
}

.link-bar img {
	padding: 0 14px;
}

.social-text {
	text-align: center;
	font-size: 18px;
}

.social-small-info {
	display: flex;
	align-items: center;
	font-size: 13px;
	margin-left: -5px;
}

.social-small-info img {
	padding: 0 5px;
}

.info-flag {
	width: 16px;
	height: 12px;
}

.small-info {
	padding-left: 15px;
}

.site-statistics {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	flex: 1 1 auto;
	align-items: center;
    justify-content: space-around;
}

.statistics {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.statistics-wrapper {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-bottom: 30px;
}

.statistic { 
	display: flex;
    flex-direction: column;
    align-items: center;
}

.statistic img {
	height: 32px;
}

.statistic-counter {
	font-size: 28px;
}

.statistic-sub {
	font-size: 20px;
	color: var(--text_color_sub-statistic);
}

.types-payment {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -10px;
}

.types-payment img {
	padding: 0 10px;
}

.site-info {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	width: 30%;
	flex-direction: column;
	flex: 0 1 auto
}

.info-bar {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 -40px;
}

.info {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 40px;
	font-size: 18px;
}

.info-additional {
	word-break: normal;
	text-align: right;
	font-size: 13px;
}