.button_anchor {
  display: flex;
  align-items: center;

  height: 60px;
  width: 300px;

  background: var(--color-black__2);

  cursor: pointer;

  margin: 20px auto 0 auto;

  .line {
    height: 8px;
    width: 200px;

    border-radius: 5px;
    background: var(--color-yellow__1);

    margin: 0 auto;
  }
}
