.profile_setting {
}
.setting_main {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.setting_line {
	display: flex;
	border: 1px #292827 solid;
  padding: 20px 0;
	flex-wrap: wrap;
	justify-content: space-between;
}
.setting_line:hover {
	background: rgb(54, 54, 59, 0.2);
}
.setting_bar {
	display: flex;
	flex-direction: column;
  align-items: flex-end;
	justify-content: flex-end;
}
.setting_img {
	position: relative;
	display: inline-block;
}
.user_logo {
	background-repeat: no-repeat;
	background-position: 50%;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	cursor: pointer;
	margin: 0px 20px;
	object-fit: cover;
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	transition: all 0.3s ease-out;
}

.setting_line:hover .user_logo{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	background: gray;
	transition: all 0.3s ease-out;
}

.setting_line:hover .load_icon{
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease-out;
}

.setting_line:hover .setting_data .data .data_edit {
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease-out;
}

.setting_bar {
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-out;
}

.setting_line:hover .setting_bar {
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease-out;
}

.setting_line:hover .setting_data .input .input_send {
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease-out;
}

.load_icon {
	transition: all 0.3s ease-out;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	cursor: pointer;
	left: 63px;
	top: 40px;
	height: 35px;
	width: 35px;
	background: gray;
	border-radius: 50%;
}

.setting_data {
	display: flex;
	flex-direction: column;
	font-family: 'Play';
}

.data {
	font-size: 22px;
	font-family: 'Play';
}

.data_tittle {
	margin-bottom: 2px;
}

.data {
	display: flex;
	align-items: center;
}

.data_edit {
	opacity: 0;
	visibility: hidden;
	width: 18px;
	height: 18px;
	margin-left: 5px;
	background: #EAA22F;
	border-radius: 8px;
	padding: 9px;
	transition: all 0.3s ease-out;
	cursor: pointer;
}

.line_tittle {
	color: gray;
	font-size: 14px;
	font-family: "Nunito";
	margin-top: 5px;
}

.game_profile {
	display: flex;
	flex-wrap: wrap;
	padding: 0 40px;
}

.input_tittle {
	font-size: 18px;
	margin-right: 5px;
}

.input_send {
	opacity: 0;
	visibility: hidden;
	width: 18px;
	height: 18px;
	margin-left: 5px;
	background: #EAA22F;
	border-radius: 8px;
	padding: 9px;
	transition: all 0.3s ease-out;
	cursor: pointer;
}

.input_data {
	margin: 5px 0;
	display: flex;
  justify-content: flex-start;
	align-items: center;
}