.box_small {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 70px;
  width: 80px;

  border-radius: 15px;
  background: var(--color-black__4);

  cursor: pointer;

  margin: 3px;

  .image {
    height: 50px;

    padding: 10px;
  }
}
