.banner {
  max-height: 400px;
  max-width: 1000px;
  height: 100%;
  width: 100%;

  cursor: pointer;

  .image {
    max-height: 400px;
    max-width: 1000px;
    height: 100%;
    width: 100%;
  }
}
