.strip_counter_slider {
	height: 100px;
	width: 36px;
	position: relative;
}

#strip_slider
{
	writing-mode: bt-lr;
	appearance: none;
	-webkit-appearance: none;
	background: #2f2f2f;
	width: 100px;
	position: absolute;
	bottom: 32px;
	height: 36px;
	right: -32px;
	overflow: hidden;
	outline: none;
	-webkit-transform: rotate(270deg);
}

#strip_slider::-webkit-slider-thumb {
	appearance: none;
	-webkit-appearance: none;
	background: white;
	box-shadow: -100px 0 0 100px rgb(97, 97, 97);
	cursor: pointer;
	border: 0;
	width: 5px;
	height: 36px;
}

#strip_slider::-moz-range-thumb {
	appearance: none;
	-webkit-appearance: none;
	background: white;
	box-shadow: -100px 0 0 100px rgb(97, 97, 97);
	cursor: pointer;
	border: 0;
	width: 5px;
	height: 36px;
}