.history_promocode {
  display: flex;
  justify-content: center;
  text-align: center;

  border-radius: 15px;
  background: var(--color-black__2);

  padding: 40px;

  .promocode_content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }
}

.promocode_header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .tittle {
    font-size: 28px;
    margin-left: 5px;
  }
}

.promocode_info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .delimiter {
    border: 1px solid var(--color-orange__1);
    width: 100%;
    margin: 20px 0;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    width: 350px;

    .input {
      display: flex;
      justify-content: center;
      align-items: center;

      .image {
        height: 60px;
        max-width: 60px;

        background-repeat: no-repeat;
        background-position: 50%;
        border-radius: 50%;

        object-fit: cover;

        cursor: pointer;
      }
    }
  }

  .additional_info {
    display: flex;
    flex-direction: column;

    .date {
    }
  }
}

@media (max-width: 500px) or (max-height: 700px) {
  .payment_header {
    .tittle {
      font-size: 20px;
    }
  }
  .history_promocode {
    padding: 10px;
  }

  .promocode_info {
    .tittle {
      font-size: 18px;
    }
  }
}
